{% extends 'base.html.twig' %}

{% block title %}Quacks{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/quack/index.css') }}"
{% endblock %}

{% block body %}

{#    <h1>CoinsCoins</h1>#}

    {% if app.user %}
        <div id="name">
            <h2>Hello {{ app.user.duckname }} </h2>
            <button><a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></button>
        </div>
    {% endif %}

    <button><a href="{{ path('app_quack_new') }}">Create new</a></button>
    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Auteur</th>
                <th>Content</th>
                <th>Photo</th>
                <th>Tags</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quack in quacks %}
            <tr>
{#                <td>{{ quack.id }}</td>#}
                <td>

                    {% if quack.author %}
                        {{ quack.author.duckname }}
                    {% else %}
                        Aucun auteur
                    {% endif %}
                </td>
                <td>{{ quack.content }}</td>
                <td>
                    {% if quack.photo %}
                        <img src="{{ asset('uploads/' ~ quack.photo) }}" alt="Photo du quack" style="max-width: 300px;">
                    {% endif %}
                </td>
                <td>Tags :
                    {% for tag in quack.tags %}
                        <span>#{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>

                <td>
                    <button><a href="{{ path('app_quack_show', {'id': quack.id}) }}">show</a></button>
                    <button><a href="{{ path('app_quack_edit', {'id': quack.id}) }}">edit</a></button>
                </td>
            </tr>
{#            #}{# Afficher les commentaires liés (replies) #}
{#            <tr>#}
{#                <td colspan="6">#}
{#                    <div class="comments">#}
{#                        <h4>Commentaires :</h4>#}
{#                        {% if quack.replies|length > 0 %}#}
{#                            {% for reply in quack.replies %}#}
{#                                <div class="comment">#}
{#                                    <p>{{ reply.content }}</p>#}
{#                                    <small>#}
{#                                        Par : {{ reply.author ? reply.author.duckname : 'Utilisateur inconnu' }}#}
{#                                        - {{ reply.createdAt|date('Y-m-d H:i:s') }}#}
{#                                    </small>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        {% else %}#}
{#                            <p>Aucun commentaire pour ce quack.</p>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </td>#}
{#            </tr>#}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
